# Ignore .env files
**/.env

# But do not ignore .env.example files
!**/.env.example

# Ignore dist in app directory
/app/dist/

# Ignore node_modules in app directory
/app/node_modules/

# Ignore vendor in src directory
/src/vendor/

# Ignore logs directory
/logs/

.DS_Store

# Ignore coverage directory
/src/coverage/

# Ignore .idea directory
/.idea/

# Ignore .vscode directory
/.vscode/

# Ignore phpunit cache
/src/.phpunit.result.cache
